$colour-alice-blue: #e8ebf6;
$colour-han-blue: #4767b0;
$colour-maastricht-blue: #101524;
$colour-oyster-blue: #283864;
$colour-aquamarine: #6af0d0;
$colour-white: #ffffff;

$font-family-header: "Work Sans", sans-serif;
$font-family-body: "Karla", sans-serif;

$font-size-xl: 6.875rem;
$font-size-h1: 5.625rem;
$font-size-h2: 3.75rem;
$font-size-h3: 2.5rem;
$font-size-h4: 1.75rem;
$font-size-body-md: 1.25rem;
$font-size-body-sm: 1.125rem;
$font-size-body-xs: 1rem;
$font-size-footer-nav: 3rem;
$font-size-footer-contact: 1.875rem;


$font-weight-semibold: 600;
$font-weight-extrabold: 800;

$gradient-bw: linear-gradient(90deg, rgba(16,21,36,0.4) 0%, rgba(16,21,36,0) 100%);